body, html {
    height: 100%;
      background-color: black;
}

#madlib {
    border: none;
    color: white;
    padding-left: 31%;    
    padding-top: 10%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#corona {
  padding-left: 0%;
  padding-right: 30%;
}


#corona:hover {
  color: #e2ff72;
}


#entertainment {
  text-align: left;
  color:#fff;
  font-family: 'Exo', sans-serif;
  padding-left: 27%;
}

.entertainment:hover{
   color:blue;
}

#cats {
  color:white;
    padding-left: 29%;
}


#cats:hover {
  color: #e2ff72;
}


.madlib
  {
    text-align: left;
  color:#fff;
  font-family: 'Exo', sans-serif;
  padding-left: 41%;
  padding-right;
  }

* {
  color: #fff;
    text-decoration: none;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Exo', sans-serif;
    padding-top: 5px;
}

.corona:hover {
  color: black;
}


.prompt  {
  text-align: left;
  color:#fff;
  font-family: 'Exo', sans-serif;
    padding-left: 44%;
  padding-right: 10%;
  font-size: 16px;
}


.special-prompt  {
  text-align: left;
  color:#fff;
  font-family: 'Exo', sans-serif;
    padding-left: 40%;
  padding-right: 10%;
}

#continue {
   text-align: left;
  color:#fff;
  font-family: 'Exo', sans-serif;
padding-left: 14.5%;
  padding-right: 30%;
}

#f-question {
   text-align: left;
   color:#fff;
  font-family: 'Exo', sans-serif;
    padding-left: 20.1%;
    padding-right: 7%;
    font-size: 18px;
}

#final-q {
    padding-left: 4%;
}

li#special-question  {
  text-align: left;
  color:#fff;
  font-family: 'Exo', sans-serif;
    padding-left: 60%;
  padding-right: 10%;
}

p {
    text-align: left;
    color: #fff;
    padding-top: 10px;
    padding-left: 40%;
    padding-right: 7%;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
}

p a:hover {
    color: #8edee2;
}


#space-cats {
  text-align: left;
  color:#fff;
  padding-top:10px;
  padding-right: 200px;
  padding-left: 250px;
  font-size: 20px;
  font-family: 'Exo', sans-serif;
}


.text {
   text-decoration: none;
  transition: all ease 3s;
  color: white;
    padding-left: 58.8%;
  letter-spacing: .1em;
  font-family: 'Exo', sans-serif;
}


ul {
   list-style:none;
}

strong { 
    font-weight: black;
}

h1 {
  text-align: left;
  color:#fff;
  padding-top:120px;
  padding-left: 29.98%;
  padding-right: 9%;
  font-size: 40px;
  font-family: 'Exo', sans-serif;
}

h2 {
 text-align: left;
  color:#fff;
    padding-left: 23.6%;
  padding-left: 23%;
  padding-right: 9%;
  font-size: 20px;
  font-family: 'Exo', sans-serif;
}

h6 {
  text-align: left;
  color:#fff;
  padding-top: 4.9%;
  padding-left: 20%;
  padding-right: 30%;
  font-size: 16px;
  font-family: 'Exo', sans-serif;
}

#travel-guide{
    padding-top: 6.3%;
    padding-left: 60%;
    padding-right: 7%;
        font-size: 18px;
}

li {
text-decoration: none;
    transition: all ease 3s;
    color: white;
    padding-left: 67%;
    letter-spacing: .1em;
    font-family: 'Exo', sans-serif;
}

a:hover {
  text-decoration:none;
} 
a:hover span {
  text-decoration:underline;
}  


li a:hover {
  color: #8edee2;

}

element.style {
}

img {
    position: absolute;
    top: 10%;
    right: 30px;
    width: 40%;
    padding-top: 40px;
    padding-right: 50%;
}