body, html {
    height: 100%;
}


.header {
font-family: 'Arsenal', "arial" sans-serif;
        padding-left: 650px;
        letter-spacing: .1em
}

.header{
  width: 800px;
  height: 80px;
  display: flex;
  font-family: 'Arsenal', "arial" sans-serif;
  padding-left: 647px;
  letter-spacing: .1em
  color: white;
    transition: all ease 0.3s;
}

.header:hover{
  font-size: 0;
    transition: all ease 0.3s;
}

.header:hover:after{
  content: attr(data-hover);
  font-size: 20px;
  transition:.3s;
  padding-top: 7px;
    padding-right: 600px;    
    padding-left: 5px;
      width: 900px;
      justify-content: center;
}

.final {
    float: right;
     display:block;
}

body {
  font-family: 'Arsenal', "arial" sans-serif;
        font-size: 15px;
        letter-spacing: .1em
}


  .textWithBlurredBg h3{
    top:50%
  }
  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }


ul {
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   /*spacing*/
   left:17.69%;
   letter-spacing: .1em

}

li {
  padding: 40px;
  /*padding=space between words*/
     font-size: 12px;
        list-style:none;
}

li a {
  text-decoration: none;
  color: black;
  font-family: 'Arsenal', "arial" sans-serif;
  line-height: 18px;
  transition: all ease 0.3s;

}

li a:hover {
  color: #d39aed;

}
