

h1 {

font-family: 'Share Tech Mono', monospace;
}

.text {
font-family: 'Share Tech Mono', monospace;
}


p{
	font-family: 'Share Tech Mono', monospace;
}

li {
		font-family: 'Share Tech Mono', monospace;
}


a {
		font-family: 'Share Tech Mono', monospace;
}

body {
	font-family: 'Share Tech Mono', monospace;
}