body {
		background-color: black;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	padding-left: 20%;
	padding-right: 30%;
	padding-top: 10%;
	color: white;
}

p {
	font-family: 'Ubuntu', sans-serif;
	padding-left: 20%;
	padding-right: 40%;
	color: white;
}