body {
	background-color: #faffc1: 
}

img#main {
	padding-left: 12%;
	float: left;
	padding-top: 3%;
}

#gen {
/*	margin-top: 8%;*/
	float: right;
	margin-right: 24.5%;
/*	margin-top: 5%;*/

}

#fact {
	padding-top: 9.1%;
	float: right;
    /* padding-left: 70%; */
    padding-left: 70%;
    /* padding-top: 9%; */
    padding-right: 7%;
}

h4:hover {
color: thistle;
}


h4{
letter-spacing: .1em;
transition: all ease 0.3s;
font-family: 'Rancho', cursive;
padding-left: 23.3%;
font-size: 35px;
color: saddlebrown
}


.header:hover{
  transition: all ease 0.3s;
}

#slideshow {
font-family: 'Varela Round', sans-serif;
float: right;
padding-bottom: 4%;
padding-left: 21.8%;
padding-right: 33%;
clear: both;	
overflow: hidden;
display: inline;
position: absolute;
}

.header:hover:after{
  content: attr(data-hover);
  font-size: 20px;
  transition:.5s; 
  padding-left: 24.15%;
  padding-bottom: 8%;
  font-family: 'Rancho', cursive;
}

p {
font-family: 'Varela Round', sans-serif;
float: center;
padding-top: .5%;
padding-left: 2%;
padding-right: 33%;
clear: both;	
overflow: hidden;
display: inline;
position: absolute;
}

li {
font-family: 'Varela Round', sans-serif;
float: center;
padding-top: 10.4%;
padding-right: 33%;
padding-left: 2%;
clear: both;	
overflow: hidden;
display: inline;
position: absolute;
}
