body {
	background-color: #faffc1: 
}

img#main {
	padding-left: 12%;
	float: left;
	padding-top: 3%;
	  width:540px; /* you can use % */
	      height: auto;
}


#gen {
	float: right;
	margin-right: 23.5%;
    margin-top: 7%;
}

p#fact {
  position: absolute;
  top: 22.3%;
  left: 69.8%;
  width: 350px;
}

h4:hover {
color: thistle;
}


h4{
letter-spacing: .1em;
transition: all ease 0.3s;
font-family: 'Rancho', cursive;
padding-left: 25.2%;
font-size: 35px;
color: saddlebrown
}


.header:hover{
  transition: all ease 0.3s;
}

#slideshow {
font-family: 'Varela Round', sans-serif;
float: right;
padding-bottom: 4%;
padding-left: 13.2%;
padding-right: 32.1%;
clear: both;	
overflow: hidden;
display: inline;
position: absolute;
}

.header:hover:after{
  content: attr(data-hover);
  font-size: 20px;
  transition:.5s; 
  padding-left: 26%;
  padding-bottom: 2%;
  font-family: 'Rancho', cursive;
}

p {
font-family: 'Varela Round', sans-serif;
float: center;
padding-top: .5%;
padding-left: 2%;
padding-right: 33%;
clear: both;	
overflow: hidden;
display: inline;
position: absolute;
}

li {
font-family: 'Varela Round', sans-serif;
float: center;
padding-top: 12.4%;
padding-right: 31.1%;
padding-left: 2%;
clear: both;	
overflow: hidden;
display: inline;
position: absolute;
}
